.page-404 {
  display: block;
  margin: 0 auto;
  height: 100vh;
  background: url(../../assets/img/SVG-Animation-404-Page.gif) no-repeat center
    center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
    font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 65%;
  transform: translateY(-50%);
}
