.img-profile {
  width: 100%;
  height: 100%;
  max-width: 400px;
}
/* .progress-bar {
  background: -webkit-linear-gradient(left, #33156d 0%, #f282bc 100%);
} */
.alert {
  font-size: 80%;
  color: #dc3545;
}
.card-title {
  color: #d8650c;
  font-size: 1rem;
}
.btn-default {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #4c4540;
  border: 2px solid #4c4540;
  background: transparent;
  transition: all 0.3s ease 0s;
  margin-bottom: 0px;
}

.btn-default:hover {
  color: #fff;
  background: #4c4540;
  border: 2px solid #4c4540;
}
.btn-publish {
  background-color: #4c4540;
  color: #d8650c;
}
.btn-publish:disabled {
  background-color: rgb(146, 143, 140);
  color: #fff;
}
h5 {
  font-weight: 700;
}

