<div class="publication">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Répondre à la question par votre vidéo</h5>

            <form [formGroup]="publicationForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <select formControlName="question" class="form-control" [(ngModel)]="question"
                        [ngClass]="{ 'is-invalid': submitted && f.question.errors }">
                        <option value=""></option>
                        <option value="Parlez-moi de vous ?">Parlez-moi de vous ?</option>

                        <option value="Quels sont vos points forts ?">Quels sont vos points forts ?</option>
                        <option value="Pourquoi voulez-vous travailler dans notre entreprise ?">Pourquoi voulez-vous travailler dans notre entreprise ?</option>
                        <option value="Qu’est-ce qui vous intéresse le plus et le moins dans le poste proposé ?">Qu’est-ce qui vous intéresse le plus et le moins dans le poste proposé ?</option>
                        <option value="Que pouvez-vous nous apporter ?">Que pouvez-vous nous apporter ?</option>
                        <option value="Avez-vous d’autres propositions en cours ?">Avez-vous d’autres propositions en cours ?</option>
                    </select>
                    <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                        <div *ngIf="f.question.errors.required">Veuillez choisir une question</div>
                    </div>
                </div>
                <div class="form-group border border-gray rounded ">
                    <div class="d-flex justify-content-between">
                        <label class="pl-1">{{nameVideo}}</label>
                        <label for="file" class="btn btn-default"><i class="fas fa-video-camera"></i></label>
                        <input type="file" style="display: none"  id="file"
                            (change)="fileProgress($event)" class="form-control" formControlName="myFile" name="myFile"
                            #myfile accept="video/mp4,video/x-m4v,video/mov,video/avi,video/3gp,video/flv,video/wmv">

                    </div>

                    <div *ngIf="valueProgress
                        " class="progress my-5">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                            [ngStyle]="{width: valueProgress+'%'}">
                        </div>
                    </div>
                </div>
                    <span class="alert pl-1" *ngIf="messageExtension">{{messageExtension}}<br></span>
                    <span class="alert pl-1" *ngIf="messageSize">{{messageSize}} <br><br></span>



                <div class="form-group">
                    <button class="btn btn-publish btn-block">Publier</button>

                </div>
            </form>
        </div>
    </div>
</div>


