.img-circle {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  margin-top: 4em;
  margin-right: 2em;
  margin-left: 3em;
  border: 5px #ac6c82 solid;
  /*box-shadow: 0px 0px 10px #FF947D; */
}
.photo {
  /* -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px; */
  width: 150px;
  height: 150px;
  background-image: url("../../../assets/img/rim.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card {
  color: #ffffff;
  background-color: #4c4540;
}
.card-body {
  padding-top: 0 !important;
}
.cover {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 5px #ffffff solid;
}
.color-head {
  background-color: #dd8e17;
}
h5,
a {
  color: #cfc6be;
}
h6 {
  color: #d8650c;
}

.cursor:hover {
  cursor: pointer;
}
p {
  text-align: center;
}

.icon-block a {
  text-decoration: none;
}
.icon-block i:hover {
  background-color: #fff;
  color: #2e3434;
  text-decoration: none;
}

.icon-block i {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.metier {
  font-weight: 700;
}
