<aside class="card">
    <div class="d-flex justify-content-center ">
        <ng-container *ngIf="user.image; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <img class="cover center my-4 " [src]="myphoto+user.image">
        </ng-template>
        <ng-template #elseTemplate>
            <img class="cover center my-4 " [src]="photo">
        </ng-template>
    </div>
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-center"><strong>{{user.lastname}}&nbsp;</strong> {{user.firstname}}
        </h5>
        <h6 class=" metier d-flex justify-content-center" *ngIf="user.year_bearth!=='null'">{{user.year_bearth}}</h6>
        <p class="card-text" *ngIf="user.pays!=='null'">{{user.pays}}</p>
        <p class="card-text" *ngIf="user.ville!=null">{{user.ville}}</p>
        <p class="card-text" *ngIf="user.description!=null">{{user.description}}</p>
        <p class="card-text" *ngIf="user.experience!=null">{{user.experience}}</p>
        <p class="card-text" *ngIf="user.job!=null">{{user.job}}</p>
        <div class="skills" *ngIf="user.skills.length>0">
            compétences
            <div *ngFor="let item of user.skills">
                <p>{{item.title}}</p>
            </div>

        </div>
    </div>

    <div *ngIf="idUserStorage===user.id_user" class="card-footer d-flex justify-content-center"><i
            class="fas fa-pencil-alt cursor" (click)="redirection()">Edit</i>
    </div>
 <!-- <div *ngIf="idUserStorage!==user.id_user;" class="card-footer d-flex justify-content-center "><i
            class="fas fa-pencil-alt cursor" (click)="contact(user.idUser, user.firstName, user.lastName)">Contact</i>
    </div> -->



</aside>