<nav class="navbar navbar-expand-lg navbar-light shadow">
    <img src="../../../assets/img/logo4.png" id="logo" alt="logo" onclick="location.href='/'" class="logo">
    <!-- <button type="button" (click)="openCalculator()"
        class=" btn ml-2 rounded border-light bg-btn d-flex flex-row order-2 order-lg-3 justify-content-sm-center"> <i
            class="fas fa-calculator"></i></button> -->
    <button class="navbar-toggler border-0 order-3" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-3 order-lg-2 navbar-right" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" [routerLink]="'/'" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}" >Accueil</a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="https://rimchakrounbizerte.wixsite.com/monsite-1"
                    routerLinkActive="active-link" >Blog</a>
            </li>
          
        </ul>
    </div>
</nav>