<app-navbar></app-navbar>
<section id="inscription" class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Inscription sur TrainningInterview!</h1>
                        </div>
                        <form class="user" [formGroup]="inscriptionForm" (ngSubmit)="inscription(mymodal)">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" formControlName="lastname" class="form-control form-control-user"
                                        [(ngModel)]="lastname"
                                        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" placeholder="Nom"
                                        required />
                                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastname.errors.required">Veuillez saisir votre prénom</div>
                                        <div *ngIf="f.lastname.errors.minlength||f.lastname.errors.maxlength">Le prénom
                                            doit contenir 2 - 15
                                            caractéres</div>

                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <input type="text" formControlName="firstname"
                                        class="form-control form-control-user" [(ngModel)]="firstname"
                                        data-toggle="tooltip" data-placement="top"
                                        title="This is the text of the tooltip"
                                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
                                        placeholder="Prénom" />
                                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstname.errors.required">Veuillez saisir votre prénom</div>
                                        <div *ngIf="f.firstname.errors.minlength||f.firstname.errors.maxlength">Le
                                            prénom doit contenir 2-15 caractères
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control form-control-user"
                                    [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                    placeholder="E-mail" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Veuillez saisir votre adresse mail</div>
                                    <div *ngIf="f.email.errors.email">Adresse mail invalide</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" formControlName="password"
                                        class="form-control form-control-user" [(ngModel)]="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        placeholder="Mot de passe" required />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Veuillez saisir votre mot de passe</div>
                                        <div *ngIf="f.password.errors.minlength||f.password.errors.maxlength">Le mot de
                                            passe doit contenir entre 8 et 12 caractères </div>
                                        <div *ngIf="f.password.errors.pattern">Le mot de passe doit contenir au moins 1
                                            chiffre ou 1 lettre</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" placeholder="Confirmation mot de passe"
                                        formControlName="repassword" class="form-control form-control-user"
                                        [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" />
                                    <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.repassword.errors.required">La confirmation de votre mot de passe
                                            est obligatoire</div>
                                        <div *ngIf="f.repassword.errors.mustMatch">mots de passe non identiques</div>
                                    </div>
                                </div>

                            </div>

                            <button class="btn font-weight-bold btn-user btn-block" type="submit">
                                Inscription
                            </button>
                            <hr>
                            <div *ngIf="errorMsg" class="alert alert-danger">
                                {{messageError}} </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Mot de passe oublié?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/connexion">Vous avez déja un compte? connectez-vous!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Modal success inscription -->
<ng-template #mymodal let-modal>

    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Inscription sur Traininginterview</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Félicitation! vous etes bien inscrit sur le site, vous pouvez dès maintenant se connecter à votre compte
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Ok</button>
    </div>
</ng-template>