form.user .form-control-user {
  font-size: 1rem;
  padding: .8rem 1rem;
}
form.user .btn-user {
  font-size: 1rem;
  /* border-radius: 10rem; */
  padding: 0.75rem 1rem;
  background-color: #f5b76a;
  border-color: #f5b76a;
  color:#fff;
}
.bg-register-image{
  background: url("../../assets/img/training.jpg");
  background-position: center;
  background-size: cover;
}
h1{
    color: #D8650C;
}