.cover {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border: 0px #ffffff solid;
}
.photo-cover {
  text-align: center;
}
textarea {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
}
.comment {
  text-align: justify;
}
.right {
  float: right;
}
.date {
  font-size: 0.8rem;
}
.name {
  font-weight: bold;
}
.cursor:hover {
  cursor: pointer;
}
.center {
  text-align: center;
}
.namefl{
  color:#d8650c

}