<section id="video " class="my-3">

    <div class="card">
        <div class="card-title d-flex justify-content-between mx-3">
            <div class="prop"><img (click)="getProfile(publication.id_user)" class="cover center " src={{photo}}>
                <p class="namefl"><strong>{{publication.firstname}} {{publication.lastname}}
                    </strong><br></p>
            </div>
            <div class="date pt-3">{{publication.created_at| date:'EEEE, d,MMMM, y'}} à
                {{publication.created_at| date:'HH:mm'}}
            </div>
        </div>
        <div class="card-subtitle mx-3 my-2">{{publication.title}}</div>

        <div class="embed-responsive embed-responsive-16by9">
            <video class="video-fluid z-depth-1" controls muted>
                <source [src]="url" type="video/mp4" />
            </video>
            <!-- <iframe class="embed-responsive-item" [src]="url" allowfullscreen></iframe> -->
        </div>

        <div class=" row  card-body d-flex justify-content-between">
            <div class="likecomment">
                <p class="card-text"><i class="fas fa-thumbs-up cursor">{{publication.nb_like}}</i>&nbsp;&nbsp;<i
                        class="fas fa-comment cursor" (click)=" showList()">{{comments.length}}</i></p>
            </div>
            <div class="navbar">
                <div class="dropdown">
                    <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <a *ngIf="idUserStorage===publication.idUser" class="dropdown-item"
                            (click)="delete(publication.idVideo,publication.nomVideo,publication.extension)">Supprimer</a>
                        <a *ngIf="idUserStorage!==publication.idUser" class="dropdown-item" href="#">Signaler</a>
                    </div>
                </div>


            </div>

        </div>
        <div class="card-footer ">
            <div class="container d-flex justify-content-between">
                <div class="cursor"><i class="far fa-thumbs-up "></i> Aimer</div>
                <div class="cursor" (click)="show()"><i class="far fa-comment"></i> Commenter</div>
                <div class="cursor"><i class="fas fa-share-alt"></i> Partager</div>
            </div>

        </div>

        <form *ngIf="visible" [formGroup]="commentForm" class="card-body  container-fluid">

            <div class="form-group d-flex row mt-3">

                <div class="col-2 justify-content-center">
                    <img (click)="getProfile(publication.idVideo)" class="cover center photo-cover" [src]="userPhoto">
                </div>
                <div class="col-10">
                    <textarea type="text" class="form-control  block" rows="1" maxlength="250" formControlName="comment"
                        [(ngModel)]="comment" placeholder="votre commentaire" width="auto"
                        (keydown)="onKeydownEvent($event,publication.idVideo)"></textarea>
                </div>
            </div>
        </form>
        <div *ngIf="comments.length>0 && visibleListe===true" class="card-footer container">
            <p (click)="showList()" class=" row d-flex justify-content-center text-primary cursor">Masquer les
                commentaires</p>
            <div class="d-flex  row" *ngFor="let item of comments">
                <div class="col-2 justify-content-center">

                    <img class="cover center photo-cover" (click)="getProfile(item.videos_idVideo)"
                        [src]="imagesURL+item.photoUrl">
                </div>
                <div class="col-10">
                    <div class="row d-flex justify-content-between">
                        <div>
                            <p class="name">{{item.lastName}} {{item.firstName}}<br><span
                                    class="date">{{item.date| date:'EEEE, d,MMMM, y'}} à
                                    {{item.date| date:'HH:mm'}}</span></p>

                        </div>
                        <div class="navbar">
                            <div class="dropdown">
                                <button class="btn btn-sm" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                    <a *ngIf="idUserStorage===item.users_idUser || idUserStorage===publication.idUser"
                                        class="dropdown-item"
                                        (click)="deleteComment(item.idCommentaire,publication.idVideo)">Supprimer</a>
                                    <a *ngIf="idUserStorage!==item.users_idUser" class="dropdown-item"
                                        href="#">Contacter</a>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="row">
                        <p class="comment pr-3">{{item.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>





</section>