.user {
  background-color: tomato;
  width: 100% !important;

}
.cover {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 5px #ffffff solid;
}
label{
  font-weight: bold;
  
}
.btn-publish {
  background-color: #4c4540;
  color: #d8650c;
}
