<app-navbar></app-navbar>

<div class="container-fluid body">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <!-- user -->
            <app-profile-card *ngIf="user" [user]="user"></app-profile-card>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            <ul class="nav topnav active justify-content-center mb-3">

                <li class="nav-item item-1"><button class=" btn btn-default"><i class="fas fa-share-square"></i>
                        Publier</button></li>
                <li class="nav-item item-2"><button class="btn btn-default"> <i class="fas fa-search"></i> Rechercher
                    </button></li>

            </ul>
            <app-publication></app-publication>
            <app-all-publication></app-all-publication>

        </div>
        <div class="col-lg-3 d-md-none d-lg-block">
            <app-blog></app-blog>
        </div>

    </div>
</div>