form.user .form-control-user {
  font-size: 1rem;
  padding: 1.05rem 1rem;
}
form.user .btn-user {
  font-size: 1rem;
  /* border-radius: 10rem; */
  padding: 0.75rem 1rem;
}
.bg-login-image {
  background: url("../../assets/img/inscription.jpg");
  background-position: center;
  background-size: cover;
}
h1 {
  color: #d8650c;
}
