<app-navbar></app-navbar>

<main class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 mb-4">Bienvenue sur TrainingInterview!</h1>
                                </div>
                                <form class="user" [formGroup]="connexionForm" (ngSubmit)="connexion()">
                                    <div class="form-group">
                                        <input type="email" formControlName="email"
                                            class="form-control form-control-user" [(ngModel)]="email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                            placeholder="E-mail" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Veuillez saisir votre adresse mail
                                            </div>
                                            <div *ngIf="f.email.errors.email">Adresse mail invalide</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="password"
                                            class="form-control form-control-user" [(ngModel)]="password"
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                            placeholder="Entrez votre mot de passe" required />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Veuillez saisir votre mot de passe
                                            </div>


                                        </div>
                                    </div>

                                    <button type="submit" class="btn font-weight-bold btn-primary btn-user btn-block">
                                        Connexion
                                    </button>
                                    <hr>
                                    <div *ngIf="errorMsg" class="alert alert-danger">
                                        {{messageError}} </div>
                                    <hr>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Mot de passe oublié?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/inscription">Créer un compte!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>