.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
}
.body {
  margin-top: 100px;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-default {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: #4c4540;
  border: 2px solid #4c4540;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #fff;
  background: #4c4540;
  border: 2px solid #4c4540;
}
