<app-navbar></app-navbar>

<main class="container-fluid body">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <app-profile-card *ngIf="user" [user]="user"></app-profile-card>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6">
            <app-list-publication-member [idUser]="idUser"></app-list-publication-member>
        </div>
        <div class="col-lg-3 d-md-none d-lg-block">
            <app-blog></app-blog>
        </div>
    </div>
</main>