<section id="home" class="page overlay">
    <div class="container">
        <div class="content cover text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="mt-0 mb-4 ">Bienvenue sur Training interview
                    </h1>
                    <a class="mt-0 mb-4 mx-3 btn btn-blue" href="/connexion">Connexion</a>
                    <a class="mt-0 mb-4 btn btn-inscription" href="/inscription">Inscription</a>
                    <h3 class="mt-0 mb-0">Préparation, s'entraide et échange pour l'entretien d'embauche</h3>
                </div>
            </div>
        </div>
    </div>
</section>