

a {
  color: #2d2d2d;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #0c86b6;
  text-decoration: none;
}

.hiding {
  opacity: 0;
}

.showing {
  opacity: 1;
}

.img-rounded {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-blue {
  color: #fff;
  background: #227fe8;
}

.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background: #233b6f;
}

.btn-inscription {
  color: #fff;
  background: #f5b76a;
}

.btn-inscription:hover,
.btn-inscription:focus {
  color: #fff;
  background: #233b6f;
}

.btn-dark {
  color: #fff;
  background: #233b6f;
}

.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background: #233b6f;
}

.list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

.loader {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin: -2rem 0 0 -2rem;
  text-indent: -9999rem;
  border-radius: 50%;
  background: #233b6f;
  background: -moz-linear-gradient(left, #233b6f 10%, rgba(35, 59, 111, 0) 42%);
  background: -webkit-linear-gradient(
    left,
    #233b6f 10%,
    rgba(35, 59, 111, 0) 42%
  );
  background: -o-linear-gradient(left, #233b6f 10%, rgba(35, 59, 111, 0) 42%);
  background: -ms-linear-gradient(left, #233b6f 10%, rgba(35, 59, 111, 0) 42%);
  background: linear-gradient(to right, #233b6f 10%, rgba(35, 59, 111, 0) 42%);
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loading:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  content: "";
  background: #233b6f;
  border-radius: 100% 0 0 0;
}

.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 94%;
  height: 94%;
  content: "";
  background: #fff;
  border-radius: 50%;
}

.navbar-light {
  margin-bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-brand {
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link:focus {
  color: #227fe8;
  background: transparent;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom-color: transparent;
}

.page {
  position: relative;
  overflow: hidden;
}

.page .content {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.page .content.cover {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.page .border {
  width: 6rem;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #f5b76a;
}

.page.overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

.page.overlay .content {
  position: relative;
  z-index: 1;
}

#home {
  padding: 0;
  color: #fff;
  background-image: url(../../../assets/img/home.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#home h1 {
  font-weight: 700;
}
h3{
  font-weight: 600;
}


.vbox-container {
  overflow: hidden;
}




/* Responsive style */

@media (min-width: 576px) {
  .page .content.cover {
    margin-top: 12rem;
    margin-bottom: 12rem;
  }
 
}

@media (min-width: 768px) {
  .page .content.cover {
    margin-top: 16rem;
    margin-bottom: 16rem;
  }
 
}

@media (min-width: 992px) {
  .page .content.cover {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }
 
}
