<section id="blog">
  <div class="card">
    <div class="card-title d-flex justify-content-center pt-3">Aticles de notre blog</div>
    <div class="card-body">
      <ul>
        <li><a
            href="https://rimchakrounbizerte.wixsite.com/monsite-1/post/comment-s-habiller-pour-un-entretien-d-embauche">Comment
            s'habiller pour un entretien d'embauche ?</a></li>
        <li><a
            href="https://rimchakrounbizerte.wixsite.com/monsite-1/post/entretien-vid%C3%A9o-comment-le-pr%C3%A9parer">Entretien
            vidéo : comment le préparer ?
          </a></li>
        <li><a
            href="https://rimchakrounbizerte.wixsite.com/monsite-1/post/conserver-son-sang-froid-lors-d-un-entretien-d-embauche">Conserver
            son sang-froid lors d’un entretien d’embauche
          </a></li>
        <li><a
            href="https://rimchakrounbizerte.wixsite.com/monsite-1/post/parlez-moi-de-vous-4-exemples-de-discours-pour-bien-d%C3%A9buter-son-entretien-d-embauche">«
            Parlez-moi de vous » : 4 exemples de discours pour bien débuter son entretien d'embauche</a></li>
        <li><a
            href="https://rimchakrounbizerte.wixsite.com/monsite-1/post/10-comportements-a-eviter-imperativement-lors-d-entretiens-professionnels">10
            comportements à éviter impérativement lors d’entretiens professionnels
          </a></li>

        <!-- <li><a href="">Cras justo odio</a></li> -->


      </ul>
    </div>
  </div>
</section>