.card {
  color: #4c4540;
}
.card-title {
  font-weight: bold;
  color: #d8650c;
  font-size: 1rem;
}
ul {
  list-style: none;
  padding-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
li::before {
  content: "•";
  color: #0aa0f6;
  display: inline-block;
  width: 1em;
  margin-bottom: 1rem;
  margin-left: -1em;
}
a:link {
  color: #4c4540;
}
/* visited link */
a:visited {
  color: #928d8a;
}
/* mouse over link */
a:hover {
  color: #4c4540;
}
/* selected link */
a:active {
  color: #4c4540;
}
